$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.avatar {
  width: 50px;
  border-radius: 50px;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
}

.bunnykoo {
  width: 100px;
  border-radius: 20px;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
}

.horsey {
  width: 320px;
  border-radius: 20px;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.29);
}

@font-face {
  font-family: 'lobster';
  src: url('../fonts/lobster.otf');
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'open-sans';
  src: url('../fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}

body {
  font-family: 'open-sans', arial, sans-serif;
  background: url(../images/space_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profileName {
  height: 50px;
  font-family: 'lobster', arial, serif;
  color: #fff;
  xtext-shadow: 0px 1px 1px #fff, 2px 2px 5px #000;
  xtext-shadow: 0px 2px 3px #fff;
  z-index: 200;
  xtext-shadow: #fff 0px 1px 0, #000 0 -1px 0, 0px 2px 3px #000;
  text-shadow: 0px 2px 6px #000;
}

.tree .node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.high {
  font: 12px sans-serif;
  color: red;
  font-weight: bold;
}

.high circle {
  fill: #ff73ff;
  stroke: #b445ae;
  stroke-width: 2px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@mixin animation($name, $time) {
  -webkit-animation: $name $time;
  -moz-animation: $name $time;
  -ms-animation: $name $time;
  -o-animation: $name $time;
  animation: $name $time;
}

/*
[ui-view].ng-enter .bunnykoo {
    @include animation(swivelin, 2s);
  }

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes swivelin {
  from { transform: scale(0.1); }
  to   { transform: scale(1); }
}
*/

.rotate {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}
