<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Pet Projects</h3>
  </div>
  <div class="panel-body">
    <p>
    <ul>
      <li><a target="_blank" href="http://lorc.biz/easyrater">EasyRater for iTunes (App to help you get your music rated)</a></li>
      <li><a target="_blank" href="http://lorc.biz/toggleblocks">Toggle Blocks (Made a complete game in 30 days)</a></li>
    </ul>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Independent Software Developer @ MTN</h3>
  </div>
  <div class="panel-body">
    <p>September 2011 – Current</p>

    <p>
    <ul>
      <li>Centralized metrics store implementation using Codahale Metrics, Graphite and Grafana</li>
      <li>
        SNMP Overview GUI
        <ul>
          <li>AngularJS based app for viewing SNMP collected information about the network</li>
          <li>Used HighCharts library for rendering charts</li>
        </ul>
      </li>
      <li>SMS / USSD routing application to map incoming messages to backend services</li>
      <li>Developed event enrichment and correlation rule based engine</li>
      <li>Focused on performance improvements on existing products</li>
      <li>Introduced improved development processes (use of versioning schemes, how to backport and manage bug fixes)
      </li>
      <li>
        Developed numerous tools using Adobe Flex web technology for complex client side GUI requirements
        <ul>
          <li>Command handling console to submit commands in an interactive fashion to backend servers</li>
          <li>Support of batch commands</li>
          <li>History management</li>
          <li>Saving / loading of script files to desktop</li>
        </ul>
      </li>
      <li>Developed an offline capable HTML5 web application for use by field engineers on mobile devices that can sync
        back to server when online (Combined various technologies/techniques: ColdFusion, AngularJS, LESS, Google
        Closure, Ant, Liquibase, CSS spritesheets, HTML5 local storage and application cache)
      </li>
      <li>Worked on improving development processes using tools like SVN and Liquibase</li>
    </ul>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Senior Software Developer @ Business Connexion</h3>
  </div>
  <div class="panel-body">
    <p>November 2010 – August 2011</p>

    <p>
    <ul>
      <li>Timesheet report generation with Jasper and Grails</li>
      <li>Integration (Web Services Clients)</li>
      <li>Software migration</li>
    </ul>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Software Developer @ EPI-USE</h3>
  </div>
  <div class="panel-body">
    <p>April 2007 – November 2010</p>

    <p>
    <ul>
      <li>Designed and developed pluggable architecture used to extend existing infrastructure. Various tools such as
        Spring was used to implement this.
      </li>
      <li>Development work on a middleware architecture system (ESB) which provide a messaging infrastructure for
        various client processes to communicate with various network elements. --Extension and maintenance of the system
        was required. The following technologies were used in this environment. Jboss, Maven, J2EE, Eclipse, SVN,
        PostgreSQL
      </li>
      <li>Enhancements of JSP web interface using AJAX to improve responsiveness.</li>
      <li>Created an Eclipse plug-in to manage / compare remote server configurations. XML over HTTP following the REST
        architecture.
      </li>
      <li>Design and development of a service orchestration module leveraging the power of the ESB system by combining
        services. The following technologies were used: - Jboss Seam, Jboss Jpdl, JSF, Facelets, Jboss Richfaces and
        EJB3.
      </li>
      <li>Development of a property valuation system using IIS, ASP.NET 2, C#, JavaScript and MS SQL Server 2005.</li>
      <li>Developed a generic reporting solution using XML.</li>
      <li>Development of a SAP Business One payroll add-on, using C# and MS SQL Server 2005.</li>

      <li>Responsibilities included
        <ul>
          <li>Development</li>
          <li>Design</li>
          <li>Code maintenance</li>
          <li>Support</li>
          <li>Documentation</li>
          <li>Server maintenance (test-, development environments)</li>
        </ul>
      </li>
    </ul>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Software Developer @ Appvantage</h3>
  </div>
  <div class="panel-body">
    <p>January 2006 – August 2006</p>

    <p>
    <ul>
      <li>Development work on SAP BusinessEdge web portal using IIS, ASP.NET, C#.NET and MS SQL Server 2000
        technologies.
      </li>
      <li>Add-on development work in SAP Business One with VB.NET and the SAP Business One SDK.</li>
    </ul>
    </p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Early Career</h3>
  </div>
  <div class="panel-body">
    <p>October 2002 - July 2005</p>

    <p>
      During this starting point of my career I did a variety of things
    <ul>
      <li>Programming for various projects and tools in Delphi, Java and C++.</li>
      <li>Designed the web layout for the Softwave IT Solutions website (http://www.softwave.co.za).</li>
      <li>Using ASP technologies, created the administration section of Land Rover’s (http://www.lrapproved.co.za)
        website.
      </li>
      <li>Produced 3D models, animations and stills based on the company’s requirements.</li>
      <li>Developed a discussion forum by using the following technologies: ASP.NET, C#, Adobe Photoshop, Microsoft
        Visual Studio .NET, Microsoft Access, SQL.
      </li>
      <li>Since a lot of this company’s prior development was done in other development environments and methodologies I
        became comfortable in using the following technologies as well: ASP, VBScript, Macromedia Dreamweaver.
      </li>
      <li>All 3D work was done in Discreet 3D Studio MAX.</li>
      <li>Produced accurate photo-realistic computer graphic images based on jewelry designs.</li>
      <li>Created a secure user interface for the “Cyberjaxx” internet surfing zone using Macromedia Director and C++.
      </li>
      <li>The design was done using Adobe Photoshop.</li>
    </ul>
    </p>
  </div>
</div>
