<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to my online CV!</h3>
  </div>
  <div class="panel-body">
    <img class="bunnykoo" src="images/bunnykoo.png"><br>
    <p>
      <h3>Who am I?</h3>
      <p>
        My name is Leonard Seymore, I am {{age}} years old and I live in South Africa. I am a software developer. My job is
        to convert coffee into code. Its a good life I must admit.
        Over the years I have spent a good amount of time learning about programming. Things change
        rapidly and it can be daunting at times to keep up.
      </p>
      <p>
        I put my CV online to share with companies and individuals what I can do.
      </p>
    </p>
  </div>
</div>

